<header class="header">
  <div class="container">
    <span class="logo clickable dis-flex" routerLink="/"><img src="../../../../assets/img/Lasaco_logo.png" alt="image" /></span>
    <ul class="nav-list">
      <li class="nav-item" routerLink="/">Home</li>
      <li class="nav-item" routerLink="/">Demo</li>
      <li class="nav-item" routerLink="/">Demo</li>
      <li>
        <button class="btn prim-btn">Get Started</button>
      </li>
    </ul>

    <!-- Hamburger menu -->
    <!-- <div class="toggle-menu">
      <span class="menu-bar"></span>
    </div> -->
  </div>
</header>
