<section class="sect">
  <div class="container">
    <h3 class="instruct">Answer all {{ questions?.length }} Questions</h3>
    <div class="list">
      <div
        class="list-item"
        *ngFor="let i of questions; let indexOfelement = index"
      >
        <span class="serial-numb">{{ indexOfelement + 1 }}</span>
        <span>
          <h4>{{ i.question }}</h4>
          <div class="options" *ngFor="let childItem of i.option">
            <div class="input-field dis-flex">
              <input type="radio" name="" id="" />
              <p>{{ childItem.a }}</p>
            </div>
            <div class="input-field dis-flex">
              <input type="radio" name="" id="" />
              <p>{{ childItem.b }}</p>
            </div>
            <div class="input-field dis-flex">
              <input type="radio" name="" id="" />
              <p>{{ childItem.c }}</p>
            </div>
            <div class="input-field dis-flex">
              <input type="radio" name="" id="" />
              <p>{{ childItem.d }}</p>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</section>
