<!-- hero -->
<section class="hero sect">
  <div class="container ba-flex-content">
    <div class="hero-details">
      <h1 class="">Lasaco Assess</h1>
      <p class="paragh">
        This Portal is for the assessment of Graduate Trainee, Intern, and Drivers.
      </p>
    </div>

    <!-- Cards -->
    <div class="card" id="usersignup">
      <div class="card-item clickable" routerLink="/user/entry-level">
        <img src="../../../assets/img/mission.svg" alt="" />
        <h3>Entry Level/NYSC</h3>
        <p>
          Take the Entry level assessment of Lasaco Asuurance.
        </p>
      </div>
      <div class="card-item clickable" routerLink="/user/internship">
        <img src="../../../assets/img/mission.svg" alt="" />
        <h3>Internship</h3>
        <p>
          Take the Internship level assessment of Lasaco Asuurance.
        </p>
      </div>
      <div class="card-item clickable" routerLink="/user/driver">
        <img src="../../../assets/img/mission.svg" alt="" />
        <h3>Drivers</h3>
        <p>
          Take the  level assessment of Lasaco Asuurance.
        </p>
      </div>
    </div>
  </div>
</section>
