<!-- hero -->
<section class="hero sect">
  <div class="container ba-flex-content">
    <div class="hero-details">
      <h1 class="">Lasaco Assess</h1>
      <p class="paragh">
        This Portal is for the assessment of Graduate Trainee, Intern, and
        Drivers.
      </p>
    </div>

    <!-- Cards -->
    <div class="card" id="usersignup">
      <div class="card-item clickable" routerLink="/user/entry-level">
        <span class="icon">
          <i class="bx bxs-star" style="color: #ffffff"></i>
        </span>
        <h3>Entry Level</h3>
        <p>Take the Entry level assessment of Lasaco Asuurance.</p>
      </div>
      <div class="card-item clickable" routerLink="/user/internship">
        <span class="icon">
          <i class="bx bxs-star" style="color: #ffffff"></i>
        </span>
        <h3>Internship</h3>
        <p>Take the Internship level assessment of Lasaco Asuurance.</p>
      </div>
      <div class="card-item clickable" routerLink="/user/nysc">
        <span class="icon">
          <i class="bx bxs-star" style="color: #ffffff"></i>
        </span>
        <h3>NYSC</h3>
        <p>Take the NYSC level assessment of Lasaco Asuurance.</p>
      </div>
      <div class="card-item clickable" routerLink="/user/driver">
        <span class="icon">
          <i class="bx bxs-star" style="color: #ffffff"></i>
        </span>
        <h3>Drivers</h3>
        <p>Take the driver level assessment of Lasaco Asuurance.</p>
      </div>
    </div>
  </div>
  <div class="admin-link">
    <p class="nav-item clickable" routerLink="/admin">Admin</p>
  </div>
</section>
