<!-- hero -->
<section class="hero sect">
  <div class="container ba-flex-content">
    <div class="hero-details">
      <h1 class="">Wellness technology directly to your doorstep</h1>
      <p class="paragh">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis ab
        corporis debitis sint atque necessitatibus, vero porro amet hic ducimus
        quam ex voluptate, illum officia expedita voluptatibus error. Nisi,
        amet.
      </p>
      <button class="btn prim-btn dis-flex">Get started</button>
    </div>

    <!-- Cards -->
    <div class="card" id="usersignup">
      <div class="card-item clickable" routerLink="/user/entry-level">
        <img src="../../../assets/img/mission.svg" alt="" />
        <h3>Title</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, eaque
          atque eveniet saepe hic ipsam quidem.
        </p>
      </div>
      <div class="card-item clickable" routerLink="/user/internship">
        <img src="../../../assets/img/mission.svg" alt="" />
        <h3>Title</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, eaque
          atque eveniet saepe hic ipsam quidem.
        </p>
      </div>
      <div class="card-item clickable" routerLink="/user/driver">
        <img src="../../../assets/img/mission.svg" alt="" />
        <h3>Title</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum, eaque
          atque eveniet saepe hic ipsam quidem.
        </p>
      </div>
    </div>
  </div>
</section>
