/* Hero Starts */
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../../../assets/img/hero-bg-2.jpg");
  background-position: center;
  background-size: cover;
  color: var(--white-color);
  /* background-color: #2f4858;
  color: var(--white-color);
  padding: 5rem 0; */
  min-height: calc(100vh - 5rem);
  position: relative;
}
.hero-details {
  animation: slideIn 2s cubic-bezier(0.5, 0, 0, 1);
}
@media only screen and (min-width: 870px) {
  .hero-details {
    width: 50%;
  }
}
.hero-details h1 {
  font-size: 50px;
  line-height: 45px;
  margin: 1rem 0;
  line-height: 45px;
}
.hero-details p {
  font-weight: 300;
  font-size: 25px;
}
.hero-details .btn {
  margin-top: 1rem;
  animation: slideIn 3s cubic-bezier(0.5, 0, 0, 1);
}
/* Hero ends */

/* Cards starts */
.card {
  display: grid;
  grid-gap: 2rem;
}
@media only screen and (min-width: 450px) {
  .card {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
.card-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  margin-top: 5rem;
  background-color: var(--white-color);
  color: var(--secondary-color);
  border-radius: 5px;
  visibility: visible;
  transition: all 0.4s ease-in;
}
.card-item:hover {
  transform: translateY(10px);
}
.card-item .icon {
  width: 60px;
  height: 60px;
  margin: -40px 0 1rem 0;
  visibility: visible;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.card-item .icon i {
  font-size: 24px;
}
.card-item p {
  margin: 1rem 0 0.5rem 0;
}
/* ba card ends */
/* Cards ends */

/* Admin lin starts */
.admin-link {
  color: var(--white-color);
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  transition: all 0.2s;
}
.admin-link:hover {
  color: var(--primary-color);
}
/* Admin lin ends */

/* Keyframes */
@keyframes slideIn {
  0% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -80, 0, 1);
    opacity: 0;
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    opacity: 1;
  }
}
