@media only screen and (min-width: 870px) {
  .sect {
    width: 70%;
    margin: auto;
  }
}
.test-header {
  margin-bottom: 2rem;
}
.test-header-title {
  margin-bottom: 0.5rem;
}
.test-header-instruct:not(:last-child) {
  margin-bottom: 0.3rem;
}
.test-header-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  text-align: center;
  background-color: #c4c4c4;
  padding: 0.5rem;
  margin-top: 1rem;
}
.test-header-footer p {
  font-size: 20px;
  font-weight: 500;
}
.list {
  display: grid;
  grid-gap: 1rem;
}
.list-item {
  padding: 2rem;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}
.list-item h3 {
  margin-bottom: 0.5rem;
}
.options {
  display: grid;
  grid-gap: 0.6rem;
  margin-top: 1rem;
}
.options .input-field {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
}
.options .input-field:hover {
  border-color: var(--primary-color);
}
.options .input-field input {
  margin-right: 0.5rem;
}
.options .input-field.selected {
  /* border-color: var(--primary-color); */
  border-left: 2px solid var(--primary-color);
}

.test-footer {
  justify-content: space-between;
  gap: 1rem;
  /* color: var(--primary-color); */
  margin-top: 2rem;
}
.test-footer button {
  font-size: 18px;
  border-radius: 3px;
  padding: 0.5rem 0.8rem;
  border: 1px solid transparent;
  transition: all 0.2s;
  color: var(--white-color);
}
.test-footer button.carousel-btn {
  background-color: var(--primary-color);
}
.test-footer button.submit-btn {
  background-color: green;
}
.test-footer button.submit-btn:hover {
  color: green;
  background-color: var(--white-color);
  border: 1px solid green;
}
button:not(:disabled) {
  cursor: pointer;
}
button:disabled {
  /* background-color: var(--primary-color); */
  background-color: #4070f4a6 !important;
}
.test-footer button.carousel-btn:not(:disabled):hover {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.test-footer button:not(:disabled):nth-child(1):hover i {
  transform: translateX(-5px);
}
.test-footer button:not(:disabled):nth-child(3):hover i {
  transform: translateX(5px);
}
.test-footer i {
  font-size: 20px;
  transition: all 0.2s;
}
.test-footer button:nth-child(1) i {
  margin-right: 0.2rem;
}
.test-footer button:nth-child(3) i {
  margin-left: 0.2rem;
}

i {
  vertical-align: middle;
}

/* Test Result Container starts */
.test-result-container {
  gap: 1rem;
  padding: 2rem 0;
}
.test-result-container img {
  max-width: 200px;
  height: auto;
}
.test-result-container h3 {
  margin-bottom: 0.5rem;
}
.test-result-container p:not(:last-child) {
  margin-bottom: 0.5rem;
}
/* Test Result Container ends */
