<section class="sect">
  <div class="container">
    <div class="header dis-flex">
      <div class="dis-flex breadcrumbs">
        <h2 class="clickable" routerLink="/admin/overview">Admin</h2>
        <i class="bx bx-chevron-right"></i>
        <p>User</p>
      </div>
      <div class="right dis-flex">
        <div class="search-field dis-flex">
          <i class="bx bx-search"></i>
          <input
            type="text"
            placeholder="Type name to search..."
            [(ngModel)]="name"
            (input)="search()"
          />
        </div>
        <div class="btns dis-flex">
          <button
            class="btn sec-btn"
            (click)="exportExcel()"
            title="Export to Excel"
          >
            Download
          </button>
          <button
            class="btn prim-btn"
            routerLink="/admin/overview"
            title="Create New User"
          >
            Add New
          </button>
        </div>
      </div>
    </div>
    <!-- Table -->
    <div class="table-container">
      <table id="users-table">
        <tr class="table-header">
          <th>Candidate Name</th>
          <th>Email</th>
          <th>Phone Number</th>
          <th>Course</th>
          <th>School</th>
          <th>Grade (%)</th>
          <th>Date & Time</th>
        </tr>
        <tr class="table-body clickable" *ngFor="let i of users">
          <td class="name">{{ i.fullName | titlecase }}</td>
          <td class="">
            {{ i.emailAddress }}
          </td>
          <td>{{ i.telNumber }}</td>
          <td class="">{{ i.course }}</td>
          <td class="">{{ i.school }}</td>
          <td class="">{{ i.scorePercentage }}</td>
          <td class="d-t">{{ i.timeStamp }}</td>
        </tr>
      </table>
    </div>
  </div>
</section>

<div class="logout">
  <span class="dis-flex clickable" (click)="logOut()">
    <i class="bx bx-log-out"></i>
    Log Out
  </span>
</div>
