.header {
  justify-content: space-between;
  gap: 1rem;
}
.header .breadcrumbs i {
  margin: 0 0.5rem;
}
.header .right {
  gap: 1rem;
}
.header .right .search-field {
  padding: 0 1rem;
  background: #f7f7f7;
  border-radius: 10px;
  border: 2px solid var(--white-color);
  min-width: 300px;
  transition: all 0.2s ease-in-out;
}
.header .right .search-field:hover {
  border-color: #cfcfd4;
}
.header .right .search-field i {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 00.5rem;
  color: rgba(45, 43, 109, 0.6);
}
.header .right .search-field input {
  width: 100%;
  padding: 1rem 0;
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 16px;
  font-weight: 500;
  color: rgba(45, 43, 109, 0.6);
}
.header .right .search-field input::placeholder {
  color: rgba(45, 43, 109, 0.6);
}
.header .right .btns {
  gap: 1rem;
}

table {
  border-spacing: 0;
  width: 100%;
  border: 0.5px solid #cfcfd4;
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
  margin-top: 2rem;
}
td,
th {
  padding: 1rem;
  font-size: 16px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.01em;
  text-align: left;
}
tr.table-header {
  background-color: var(--primary-color);
  color: var(--white-color);
  border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}
tr.table-header th:last-child {
  border-radius: 0 var(--border-radius) 0px 0px;
}
tr.table-header th:first-child {
  border-radius: var(--border-radius) 0 0px 0px;
}
tr.table-body {
  transition: all 0.2s;
}
tr.table-body:hover {
  background-color: rgb(238, 238, 238);
}
tr.table-body :not(:last-child) td {
  border-bottom: 0.5px solid #cfcfd4;
}
tr.table-body td {
  border-bottom: 0.5px solid #cfcfd4;
}

/* Log out */
.logout {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 10;
}
.logout span {
  gap: 0.5rem;
  display: inline-block;
  padding: 0.5rem 1rem;
  border: 1px solid #e92c2c;
  background-color: #e92c2c;
  color: var(--white-color);
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
.logout span i {
  color: var(--white-color);
}
.logout span:hover {
  background-color: rgba(233, 44, 44, 0.8);
}
