<section class="sect">
  <div class="container">
    <ng-container *ngIf="!isTestCompleted">
      <div class="test-header">
        <h3 class="test-header-title">Welcome {{ user?.fullName }}</h3>
        <p class="test-header-instruct">
          This quiz contains <b>{{ questionsList?.length }}</b> Questions. Each
          questions holds <b>{{ pointValue }}</b> points, and you can only
          select once.
        </p>
        <p class="test-header-instruct">
          You have <b>1 hour 30 minutes</b> to complete this Test
        </p>

        <div class="test-header-footer">
          <p>Total Points: {{ totalPoints }}</p>
          <p style="font-style: italic">
            Question: {{ currentQuestion + 1 }} / {{ questionsList?.length }}
          </p>
          <p class="">Time <i class="bx bx-stopwatch"></i>: {{ display }}s</p>
        </div>
      </div>
      <div class="test-body list">
        <div class="list-item">
          <h4>{{ questionsList[currentQuestion]?.questionText }}</h4>
          <div class="options">
            <label
              class="input-field"
              *ngFor="
                let option of questionsList[currentQuestion]?.options;
                let indexOfelement = index
              "
              (change)="answer(currentQuestion + 1, option, $event)"
              ><input
                type="radio"
                [name]="currentQuestion"
                [value]="option.text"
              />{{ option.text }}</label
            >
          </div>
        </div>
      </div>
      <div class="test-footer dis-flex">
         <button
          [disabled]="currentQuestion === 0"
          class="btn carousel-btn dis-flex"
          (click)="previousQuestion()"
        >
          <i class="bx bx-chevron-left"></i> Previous
        </button>
        <button class="btn success-btn dis-flex" (click)="showSubmitModal()">
          Submit
        </button>
        <button
          class="btn carousel-btn dis-flex"
          (click)="nextQuestion()"
          [disabled]="currentQuestion + 1 === questionsList?.length"
        >
          Next <i class="bx bx-chevron-right"></i>
        </button>
      </div>
    </ng-container>

    <!-- Test Result -->
    <ng-container *ngIf="isTestCompleted">
      <div class="test-result-container dis-flex">
        <img
          [src]="
            pointsPercentage >= 50
              ? '../../../assets/img/thumbup.png'
              : '../../../assets/img/thumbdown.png'
          "
          alt="Image"
        />
        <div class="test-rsult-details">
          <h3>
            Congratulations!!! You have completed the Test. <br />Below is your
            result:
          </h3>
          <p>Total Questions Attempted: {{ totalAttemptedQuestion }}</p>
          <p>Total Correct Answered: {{ correctAnswer }}</p>
          <p>Total wrong Answered: {{ inCorrectAnswer }}</p>
          <p>Your Score: {{ points }}</p>
          <p>
            Your Score percentage: <strong>{{ pointsPercentage }}%</strong>
          </p>
        </div>
      </div>

      <div class="go-back">
        <button class="btn prim-btn" routerLink="/">Go back home</button>
      </div>
    </ng-container>
  </div>
</section>

<!-- Modal Area -->
<div class="modal-area" [class.show-modal]="submitModal">
  <div class="modal delete-modal">
    <div class="modal-head">
      <h3>Dear {{ user?.fullName }}</h3>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to Submit your test?</p>
      <div class="modal-body-btns dis-flex">
        <button class="btn danger-btn" (click)="submitModal = false">
          Cancel
        </button>
        <button class="btn success-btn" (click)="submitTest()">Submit</button>
      </div>
    </div>
  </div>
</div>
