<section class="sect">
  <div class="container">
    <ng-container *ngIf="!isTestCompleted">
      <div class="test-header">
        <h3 class="test-header-title">Welcome David</h3>
        <p class="test-header-instruct">
          This quiz contains <b>{{ questionsList?.length }}</b> Questions. Each
          questions holds <b>{{ pointValue }}</b> points
        </p>
        <p class="test-header-instruct">
          You have <b>{{ testDurationMinute }} minutes</b> to complete this Test
        </p>

        <div class="test-header-footer">
          <p>Total Points: {{ totalPoints }}</p>
          <p style="font-style: italic">
            Question: {{ currentQuestion + 1 }} / {{ questionsList?.length }}
          </p>
          <p class="">Time <i class="bx bx-stopwatch"></i>: {{ display }}s</p>
        </div>
      </div>
      <div class="test-body list">
        <!-- <div
          class="list-item"
        >
            <h4>{{ questionsList[currentQuestion]?.questionText }}</h4>
            <div class="radiogroup options" *ngFor="let childItem of i.option">
              <label class="input-field"
                ><input
                  type="radio"
                  [name]="indexOfelement"
                  [value]="childItem.a"
                />{{ childItem.a }}</label
              >
              <label class="input-field"
                ><input
                  type="radio"
                  [name]="indexOfelement"
                  [value]="childItem.b"
                />{{ childItem.b }}</label
              >
              <label class="input-field"
                ><input
                  type="radio"
                  [name]="indexOfelement"
                  [value]="childItem.c"
                />{{ childItem.c }}</label
              >
              <label class="input-field"
                ><input
                  type="radio"
                  [name]="indexOfelement"
                  [value]="childItem.d"
                />{{ childItem.d }}</label
              >
            </div>
          </span>
        </div> -->
        <div class="list-item">
          <span>
            <h4>{{ questionsList[currentQuestion]?.questionText }}</h4>
            <div
              class="options"
              *ngFor="
                let option of questionsList[currentQuestion]?.options;
                let indexOfelement = index
              "
            >
              <div
                class="input-field"
                (click)="answer(currentQuestion + 1, option)"
              >
                <!-- [class.selected]="selected" -->
                <p>{{ option.text }}</p>
              </div>
            </div>
          </span>
        </div>
      </div>
      <div class="test-footer dis-flex">
        <button
          [disabled]="currentQuestion === 0"
          class="carousel-btn dis-flex"
          (click)="previousQuestion()"
        >
          <i class="bx bx-chevron-left"></i> Previous
        </button>
        <button class="submit-btn dis-flex" (click)="submitTest()">
          Submit
        </button>
        <button
          class="carousel-btn dis-flex"
          (click)="nextQuestion()"
          [disabled]="currentQuestion + 1 === questionsList?.length"
        >
          Next <i class="bx bx-chevron-right"></i>
        </button>
      </div>
    </ng-container>

    <ng-container *ngIf="isTestCompleted">
      <div class="test-result-container dis-flex">
        <img src="../../../assets/img/33267160.jpg" alt="" />
        <div class="test-rsult-details">
          <h3>
            Congratulations!!! You have completed the Test. <br />Below is your
            result:
          </h3>
          <p>Total Questions Attempted: {{ totalAttemptedQuestion }}</p>
          <p>Total Correct Answered: {{ correctAnswer }}</p>
          <p>Total wrong Answered: {{ inCorrectAnswer }}</p>
          <p>Your Score: {{ points }}</p>
          <p>
            Your Score percentage: <strong>{{ pointsPercentage }}%</strong>
          </p>
        </div>
      </div>
    </ng-container>
  </div>
</section>
